<h1>About This App</h1>
<br/>
<strong>Directions</strong>
<p>
<ol>
<li>Enter the stock ticker symbol in the top navigation menu bar search box.</li>
<li>Click the "Lookup" button.</li>
</ol>
<strong><i>Please Note: If stock ticker symbol has a hyphen "-" in it, please replace the hyphen with a period "." instead.</i></strong>
</p>
<br/>
Happy Stock Ticker Symbol Searching!
