<!-- "./views/home.handlebars" is the root "localhost:5000/" page when you are running Handlebars in Node. -->

<!-- The "stock" variable holds all the information for 1 stock symbol from the API. -->
<h1>{{stock.companyName}} ({{stock.symbol}})</h1>

<br/>

<!-- a foreach statement in Handlebars -->
{{#each stock}}
	{{@key}} : {{this}}<br/>
{{/each}}
